@import '../styles/config/variable';

.app-page{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 65px;
    @include gradient-metalic;
    overflow: auto;
}

.page-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 $spacing;
    height: 100%;
    width: 100%;
    max-width: $desktop-width;
 
}